<configuration>
  <property name="ident" value="example" scope="context"/>

  <appender name="SYSLOG" class="com.spotify.logging.logback.MillisecondPrecisionSyslogAppender">
    <syslogHost>localhost</syslogHost>
    <facility>LOCAL0</facility>
    <suffixPattern>%date{HH:mm:ss.SSS} %property{ident}[%property{pid}]: %-5level [%thread] %logger{0}: %msg%n</suffixPattern>
  </appender>

  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="SYSLOG" />
  </appender>

  <root level="DEBUG">
    <appender-ref ref="ASYNC"/>
  </root>
</configuration>
